<template>
  <main-view>
    <template v-slot:header>
      Liste des adhérents
      <router-link :to="{ name: 'NewAdherent'}">
        <mdb-btn color="default" size="sm"><mdb-icon icon="plus"/></mdb-btn>
      </router-link>
    </template>
    <template v-slot:body>
      <list-ag-grid
        style="width:100%;"
        :columnDefs="columnDefs"
        :rowData="users"
        :doubleClickedCb="onRowDoubleClicked"
      ></list-ag-grid>
    </template>
  </main-view>
</template>

<script>
import {
  mdbBtn,
  mdbIcon
} from 'mdbvue'

import ListAgGrid from '../common/ListAgGrid'
import MainView from '../common/MainView'
import { mapState } from 'vuex'

export default {
  name: 'Adherents',
  components: {
    mdbIcon,
    mdbBtn,
    ListAgGrid,
    MainView
  },
  data () {
    return {
      columnDefs: null,
      onRowDoubleClicked: null
    }
  },
  computed: {
    ...mapState({
      users: state => state.moduleUser.all
    })
  },
  beforeMount () {
    this.$store.dispatch('getAllUsers')
    this.onRowDoubleClicked = (event) => {
      this.$router.push({ name: 'ShowAdherent', params: { id: event.data.idUtilisateur } })
    }
    this.columnDefs = [
      {headerName: 'Nom', field: 'nomUtilisateur', sortable: true, filter: true, resizable: true},
      {headerName: 'Prénom', field: 'prenomUtilisateur', sortable: true, filter: true, resizable: true},
      {headerName: 'Nom d\'utilisateur', field: 'loginUtilisateur', sortable: true, filter: true, resizable: true},
      {headerName: 'Email', field: 'emailUtilisateur', sortable: true, filter: true, resizable: true},
      {headerName: 'Actif', field: 'estActiveUtilisateur', sortable: true, filter: true, resizable: true, cellRenderer: 'booleanRenderer'}
      // TODO : add Classement
    ]
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
