<template>
  <main-view>
    <template v-slot:header>
      <span v-if="$route.name !== 'EditAdherent'">Nouvel adhérent</span>
      <span v-else>Modification de {{adherent.nomUtilisateur}} {{adherent.prenomUtilisateur}}</span>
    </template>
    <template v-slot:body>
      <!-- Material form register -->
      <form novalidate @submit.prevent="checkForm" class="needs-validation">
        <mdb-container class="grey-text">
          <h5>
            <mdb-icon icon="transgender" class="space-label"/>
            <div class="custom-control custom-radio custom-control-inline" >
              <input type="radio" :class="!displayErrorMessage('genreUtilisateur')" class="custom-control-input" value="H" icon="male" name="radioSexe" id="radioHomme" v-model="adherent.genreUtilisateur">
              <label class="custom-control-label" for="radioHomme"><mdb-icon icon="male"/></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" :class="!displayErrorMessage('genreUtilisateur')" class="custom-control-input" value="F" icon="female" name="radioSexe" id="radioFemme" v-model="adherent.genreUtilisateur">
              <label class="custom-control-label" for="radioFemme"><mdb-icon icon="female"/></label>
            </div>
          </h5>
          <div class="invalid" v-if="displayErrorMessage('genreUtilisateur') && !$v.adherent.genreUtilisateur.required">Ce champ est requis</div>

          <mdb-input customValidation :isValid="checkValidity('nomUtilisateur')" label="Nom" icon="user" v-model="adherent.nomUtilisateur" type="text" />
          <div v-if="displayErrorMessage('nomUtilisateur')">
            <div class="invalid" v-if="!$v.adherent.nomUtilisateur.required">Le nom est requis.</div>
            <div class="invalid" v-if="!$v.adherent.nomUtilisateur.maxLength">Le nom ne peut excéder 20 caractères.</div>
            <div class="invalid" v-if="!$v.adherent.nomUtilisateur.minLength">Le nom doit excéder 2 caractères.</div>
          </div>

          <mdb-input customValidation :isValid="checkValidity('prenomUtilisateur')" label="Prénom" icon="user" v-model="adherent.prenomUtilisateur" type="text" />
          <div v-if="displayErrorMessage('prenomUtilisateur')">
            <div class="invalid" v-if="!$v.adherent.prenomUtilisateur.required">Le prénom est requis.</div>
             <div class="invalid" v-if="!$v.adherent.prenomUtilisateur.maxLength">Le prénom ne peut excéder 20 caractères.</div>
            <div class="invalid" v-if="!$v.adherent.prenomUtilisateur.minLength">Le prénom doit excéder 2 caractères.</div>
          </div>

          <mdb-input customValidation :isValid="checkValidity('dateNaissanceUtilisateur')" icon="birthday-cake" v-model="adherent.dateNaissanceUtilisateur" type="date" />
          <div v-if="displayErrorMessage('dateNaissanceUtilisateur')">
            <div class="invalid" v-if="!$v.adherent.dateNaissanceUtilisateur.required">La date d'anniversaire est requise.</div>
          </div>

          <mdb-input customValidation :isValid="checkValidity('loginUtilisateur')" label="Login" icon="user" v-model="adherent.loginUtilisateur" type="text" />
          <div v-if="displayErrorMessage('loginUtilisateur')">
            <div class="invalid" v-if="!$v.adherent.loginUtilisateur.required">Le login est requis.</div>
            <div class="invalid" v-if="!$v.adherent.loginUtilisateur.minLength">Le login doit excéder 4 caractères.</div>
            <div class="invalid" v-if="!$v.adherent.loginUtilisateur.maxLength">Le login ne peut excéder 20 caractères.</div>
          </div>

          <mdb-input customValidation :isValid="checkValidity('emailUtilisateur')" label="Email" icon="envelope" v-model="adherent.emailUtilisateur" type="email" />
          <div v-if="displayErrorMessage('emailUtilisateur')">
            <div class="invalid" v-if="!$v.adherent.emailUtilisateur.required">L'email est requis.</div>
            <div class="invalid" v-if="!$v.adherent.emailUtilisateur.email">L'email est de format incorrect.</div>
          </div>

          <mdb-row>
            <mdb-col>
              <mdb-card>
                <mdb-card-header color="primary-color">Adresse</mdb-card-header>
                <mdb-card-body>
                  <mdb-input customValidation :isValid="checkValidity('adresse1Utilisateur')" label="Adresse 1" icon="address-card" v-model="adherent.adresse1Utilisateur" type="text" />
                  <div v-if="displayErrorMessage('adresse1Utilisateur')">
                    <div class="invalid" v-if="!$v.adherent.adresse1Utilisateur.required">L'adresse est requise.</div>
                    <div class="invalid" v-if="!$v.adherent.adresse1Utilisateur.maxLength">L'adresse ne doit excéder 100 caractères.</div>
                  </div>
                  <mdb-input customValidation :isValid="checkValidity('adresse2Utilisateur')" label="Adresse 2" icon="address-card" v-model="adherent.adresse2Utilisateur" type="text" />
                  <div v-if="displayErrorMessage('adresse2Utilisateur')">
                    <div class="invalid" v-if="!$v.adherent.adresse1Utilisateur.maxLength">L'adresse ne peut excéder 100 caractères.</div>
                  </div>
                  <mdb-input customValidation :isValid="checkValidity('cpUtilisateur')" label="Code Postal" icon="map-marker" v-model="adherent.cpUtilisateur" type="text" />
                  <div v-if="displayErrorMessage('cpUtilisateur')">
                    <div class="invalid" v-if="!$v.adherent.cpUtilisateur.required">Le code postal est requis.</div>
                    <div class="invalid" v-if="!$v.adherent.cpUtilisateur.maxLength || !$v.adherent.cpUtilisateur.minLength || !$v.adherent.cpUtilisateur.numeric">Le code postal doit être de 5 caractères et composé de chiffres uniquement.</div>
                  </div>
                  <mdb-input customValidation :isValid="checkValidity('villeUtilisateur')" label="Ville" v-model="adherent.villeUtilisateur" icon="home" type="text" />
                  <div v-if="displayErrorMessage('villeUtilisateur')">
                    <div class="invalid" v-if="!$v.adherent.villeUtilisateur.required">La ville est requise.</div>
                    <div class="invalid" v-if="!$v.adherent.villeUtilisateur.maxLength">La ville ne peut excéder 100 caractères.</div>
                  </div>
                </mdb-card-body>
              </mdb-card>
            </mdb-col>
            <mdb-col>
              <mdb-card class="">
                <mdb-card-header color="secondary-color">Informations utiles</mdb-card-header>
                <mdb-card-body>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" v-model="adherent.presenceAnnuaire" id="presenceAnnuaire">
                    <label class="custom-control-label" for="presenceAnnuaire">Présence dans l'annuaire ?</label>
                  </div>
                  <br/>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" v-model="adherent.estActiveUtilisateur" id="estActiveUtilisateur">
                    <label class="custom-control-label" for="estActiveUtilisateur">Activé ?</label>
                  </div>
                  <br/>
                  <div>
                    <label for="classementSelect" class="grey-text"><mdb-icon icon="clipboard-list"/> Classement</label>
                    <select id="classementSelect" class="browser-default custom-select form-control" v-model="adherent.classement.idClassement">
                      <option v-for="classement in classements" :key="classement.idClassement" :value="classement.idClassement">{{ classement.libelleClassement }}</option>
                    </select>
                  </div>
                  <br/>
                  <div>
                    <label for="roleSelect" class="grey-text"> <mdb-icon icon="hat-cowboy"/> Role</label>
                    <select id="roleSelect" class="browser-default custom-select form-control" v-model="adherent.role">
                      <option v-for="role in roles" :key="role.libelleRoleAuth" :value="role">{{ role.libelleRole }}</option>
                    </select>
                  </div>
                </mdb-card-body>
              </mdb-card>
            </mdb-col>
          </mdb-row>

        </mdb-container>
        <div class="text-center">
          <mdb-btn color="primary" type="submit">Enregistrer</mdb-btn>
        </div>
      </form>
      <!-- Material form register -->
    </template>
  </main-view>
</template>

<script>
import MainView from '@/components/common/MainView'
import { required, email, maxLength, minLength, numeric, alpha } from 'vuelidate/lib/validators'
import { mdbIcon, mdbInput, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCol, mdbRow, mdbContainer } from 'mdbvue'
import userApi from '../../api/users'

export default {
  components: {
    MainView,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    mdbIcon,
    mdbCol,
    mdbRow,
    mdbContainer,
    mdbInput,
    mdbBtn
  },
  name: 'AdherentForm',
  created () {
    userApi.getClassements((res) => {
      this.classements = res
    })
    userApi.getRoles((res) => {
      this.roles = res
      if (this.$route.name !== 'EditAdherent') {
        this.adherent.role = res.find(element => element.libelleRoleAuth === 'ROLE_USER')
      }
    })
    if (this.$route.name === 'EditAdherent') {
      userApi.getUser(this.$route.params.id, (res) => {
        this.adherent = res
      })
    }
  },
  data () {
    return {
      classements: [],
      adherent: {
        idUtilisateur: null,
        nomUtilisateur: '',
        prenomUtilisateur: '',
        loginUtilisateur: '',
        emailUtilisateur: '',
        adresse1Utilisateur: '',
        adresse2Utilisateur: '',
        dateNaissanceUtilisateur: '',
        cpUtilisateur: '',
        estActiveUtilisateur: false,
        role: null,
        villeUtilisateur: '',
        genreUtilisateur: '',
        presenceAnnuaire: true,
        classement: {
          idClassement: null
        }
      },
      roles: []
    }
  },
  validations: {
    adherent: {
      nomUtilisateur: { required, maxLength: maxLength(20), minLength: minLength(2) },
      prenomUtilisateur: { required, maxLength: maxLength(20), minLength: minLength(2) },
      loginUtilisateur: { required, maxLength: maxLength(20), minLength: minLength(4) },
      emailUtilisateur: { required, email },
      adresse1Utilisateur: { required, maxLength: maxLength(100) },
      adresse2Utilisateur: { maxLength: maxLength(100) },
      cpUtilisateur: { required, numeric, minLength: minLength(5), maxLength: maxLength(5) },
      villeUtilisateur: { required, maxLength: maxLength(100) },
      dateNaissanceUtilisateur: { required },
      genreUtilisateur: { required, alpha, minLength: minLength(1), maxLength: maxLength(1) }
    }
  },
  props: {

  },
  mounted () {

  },
  methods: {
    checkForm () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        console.log(this.adherent)
        if (this.adherent.idUtilisateur === null) {
          userApi.addUser(this.adherent, (res) => {
            console.log(res)
            this.$router.push({ name: 'ShowAdherent', params: { id: res.idUtilisateur } })
          })
        } else {
          userApi.updateUser(this.adherent, (res) => {
            console.log(res)
            this.$router.push({ name: 'ShowAdherent', params: { id: res.idUtilisateur } })
          })
        }
      }
    },
    isInvalid (key) {
      return this.$v.adherent[key].$error ? 'is-invalid' : ''
    },
    displayErrorMessage (key) {
      return this.$v.adherent[key].$anyError
    },
    checkValidity (key) {
      if (!this.$v.adherent[key].$anyDirty) {
        return false
      }
      return !this.$v.adherent[key].$anyError
    }
  }
}
</script>

<style scoped>
.space-label {
  margin-right: 1rem;
}

.invalid {
  color: red;
}
</style>
