<template>
  <main-view>
    <template v-slot:header>
      {{ adherent.nomUtilisateur }}
      {{ adherent.prenomUtilisateur }}
      <router-link :to="{ name: 'EditAdherent', params: { id: adherent.idUtilisateur } }">
        <mdb-btn color="green" size="sm"><mdb-icon icon="edit"/></mdb-btn>
      </router-link>
      <mdb-btn color="red" size="sm" @click="deleteUser()"><mdb-icon icon="trash"/></mdb-btn>
      <modal v-show="modalShow" />
    </template>
    <template v-slot:body>
      <mdb-container>
        <dl class="row">
          <dt class="col-sm-2">
            Sexe :
          </dt>
          <dd class="col-sm-10">
            <mdb-icon :icon="adherent.genreUtilisateur === 'H' ? 'male' : 'female'" />
          </dd>
          <dt class="col-sm-2">
            Nom :
          </dt>
          <dd class="col-sm-10">
            {{ adherent.nomUtilisateur }}
          </dd>
          <dt class="col-sm-2">
            Prénom :
          </dt>
          <dd class="col-sm-10">
            {{ adherent.prenomUtilisateur }}
          </dd>
          <dt class="col-sm-2">
            Date de naissance :
          </dt>
          <dd class="col-sm-10">
            {{ adherent.dateNaissanceUtilisateur }}
          </dd>
          <dt class="col-sm-2">
            Date d'inscription :
          </dt>
          <dd class="col-sm-10">
            {{ adherent.dateInscriptionUtilisateur }}
          </dd>
          <dt class="col-sm-2">
            Login :
          </dt>
          <dd class="col-sm-10">
            {{ adherent.loginUtilisateur }}
          </dd>
          <dt class="col-sm-2">
            Email :
          </dt>
          <dd class="col-sm-10">
            <a :href="'mailto:' + adherent.loginUtilisateur">{{ adherent.emailUtilisateur }}</a>
          </dd>
        </dl>
        <mdb-row>
          <mdb-col>
            <mdb-card>
              <mdb-card-header color="primary-color">Adresse</mdb-card-header>
              <mdb-card-body>
                <dl class="row">
                  <dt class="col-sm-3">
                    Adresse :
                  </dt>
                  <dd class="col-sm-9">
                    {{ adherent.adresse1Utilisateur }}
                  </dd>
                  <dd class="col-sm-9 offset-sm-3">
                    {{ adherent.adresse2Utilisateur }}
                  </dd>
                  <dt class="col-sm-3">
                    Code Postal :
                  </dt>
                  <dd class="col-sm-9">
                    {{ adherent.cpUtilisateur }}
                  </dd>
                  <dt class="col-sm-3">
                    Ville :
                  </dt>
                  <dd class="col-sm-9">
                    {{ adherent.villeUtilisateur }}
                  </dd>
                </dl>
              </mdb-card-body>
            </mdb-card>
          </mdb-col>
          <mdb-col>
            <mdb-card class="">
              <mdb-card-header color="secondary-color">Informations utiles</mdb-card-header>
              <mdb-card-body>
                <dl class="row">
                  <dt class="col-sm-5">
                    Présent dans l'annuaire :
                  </dt>
                  <dd class="col-sm-7">
                    {{ adherent.presenceAnnuaire ? 'Oui' : 'Non' }}
                  </dd>
                  <dt class="col-sm-5">
                    Compte activé :
                  </dt>
                  <dd class="col-sm-7">
                    {{ adherent.estActiveUtilisateur ? 'Oui' : 'Non' }}
                  </dd>
                  <dt class="col-sm-5">
                    Classement :
                  </dt>
                  <dd class="col-sm-7">
                    {{ adherent.classement.libelleClassement }}
                  </dd>
                  <dt class="col-sm-5">
                    Rôle :
                  </dt>
                  <dd class="col-sm-7">
                    {{ adherent.role.libelleRole }}
                  </dd>
                </dl>
              </mdb-card-body>
            </mdb-card>
          </mdb-col>
        </mdb-row>
      </mdb-container>
    </template>
  </main-view>
</template>

<script>
import userApi from '../../api/users'
import MainView from '../common/MainView'
import { mdbBtn, mdbIcon, mdbCard, mdbCardBody, mdbCardHeader, mdbRow, mdbCol, mdbContainer } from 'mdbvue'
import Modal from '../common/Modal'

export default {
  name: 'AdherentFiche',
  components: {
    MainView,
    mdbBtn,
    mdbIcon,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    mdbRow,
    mdbCol,
    mdbContainer,
    Modal
  },
  data: () => {
    return {
      modalShow: false,
      adherent: {
        idUtilisateur: null,
        nomUtilisateur: '',
        prenomUtilisateur: '',
        loginUtilisateur: '',
        emailUtilisateur: '',
        adresse1Utilisateur: '',
        adresse2Utilisateur: '',
        dateNaissanceUtilisateur: '',
        cpUtilisateur: '',
        role: null,
        villeUtilisateur: '',
        genreUtilisateur: '',
        presenceAnnuaire: true,
        classement: {
          idClassement: null
        }
      }
    }
  },
  props: {
  },
  created () {
    userApi.getUser(this.$route.params.id, (res) => {
      this.adherent = res
    })
  },
  methods: {
    deleteUser () {
      let vm = this
      if (confirm('Êtes vous sûr de vouloir supprimer ?')) {
        userApi.deleteUser(this.adherent.idUtilisateur, (res) => {
          vm.$router.push({ name: 'Adherents' })
        })
      }
    }
  }
}
</script>

<style>

</style>
