<template>
    <main-view>
    <template v-slot:header>
      <!-- {{ adherent.nomUtilisateur }}
      {{ adherent.prenomUtilisateur }} -->
      {{ court.libelleCourt }}
      <router-link :to="{ name: 'EditCourt', params: { id: court.idCourt } }">
        <mdb-btn color="green" size="sm"><mdb-icon icon="edit"/></mdb-btn>
      </router-link>
      <mdb-btn color="red" size="sm" @click="deleteCourt()"><mdb-icon icon="trash"/></mdb-btn>
    </template>
    <template v-slot:body>
      <mdb-container>
        <dl class="row">
          <dt class="col-sm-2">
            Libelle :
          </dt>
          <dd class="col-sm-10">
            {{ court.libelleCourt }}
          </dd>
          <dt class="col-sm-2">
            Localisation :
          </dt>
          <dd class="col-sm-10">
            {{ court.localisationCourt }}
          </dd>
          <dt class="col-sm-2">
            GPS :
          </dt>
          <dd class="col-sm-10">
            {{ court.latitudeCourt }} ; {{ court.longitudeCourt }}
          </dd>
          <dt class="col-sm-2">
            Couvert :
          </dt>
          <dd class="col-sm-10">
            <mdb-icon :icon="court.couvert ? 'check' : 'times'" />
          </dd>
          <dt class="col-sm-2">
            Réservable :
          </dt>
          <dd class="col-sm-10">
            <mdb-icon :icon="court.reservable ? 'check' : 'times'" />
          </dd>
          <dt class="col-sm-2">
            Type de court :
          </dt>
          <dd class="col-sm-10">
            {{ court.typeCourt.libelleTypeCourt }}
          </dd>
        </dl>
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item" :key="oneItem.index" v-for="oneItem in tabReservation">
            <a class="nav-link"
            :class="currentTab === oneItem.index ? 'active' : ''" href="#"
            @click.prevent="setSelectedDay(oneItem.index)"
            >{{ oneItem.header }}</a>
          </li>
        </ul>
        <div class="d-inline" :key="unHoraireDispo.dateDebutReservation" v-for="unHoraireDispo in listeHorairesDispo" >
            <mdb-btn v-if="unHoraireDispo.idReservation === null" @click="createReservation(unHoraireDispo)" :disabled="unHoraireDispo.idReservation !== null" color="green" size="sm">{{ unHoraireDispo.dateDebutReservation }}</mdb-btn>
            <mdb-btn v-else disabled color="red" size="sm">{{ unHoraireDispo.dateDebutReservation }}</mdb-btn>
        </div>
      </mdb-container>
    </template>
  </main-view>
</template>

<script>
import courtApi from '../../api/courts'
import reservationApi from '../../api/reservations'
import MainView from '../common/MainView'
import { mdbBtn, mdbIcon, mdbCard, mdbCardBody, mdbCardHeader, mdbRow, mdbCol, mdbContainer } from 'mdbvue'
import moment from 'moment'

export default {
  name: 'CourtFiche',
  components: {
    MainView,
    mdbBtn,
    mdbIcon,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    mdbRow,
    mdbCol,
    mdbContainer
  },
  data: () => {
    return {
      court: {
        idCourt: null,
        libelleCourt: '',
        localisationCourt: '',
        latitudeCourt: null,
        longitudeCourt: null,
        couvert: false,
        reservable: false,
        typeCourt: {
          idTypeCourt: null,
          libelleTypeCourt: ''
        }
      },
      tabReservation: [],
      currentTab: 0,
      listeHorairesDispo: []
    }
  },
  methods: {
    deleteCourt () {
      let vm = this

      if (confirm('Êtes vous sûr de vouloir supprimer ?')) {
        courtApi.deleteCourt(vm.court.idCourt, (res) => {
          vm.$router.push({ name: 'Courts' })
        })
      }
    },
    createReservation (horaire) {
      this.$store.dispatch('setCurrentReservation', { court: this.court, dateDebutReservation: horaire.dateDebutReservation })
      this.$router.push({name: 'NewReservation'})
    },
    getDispo () {
      const currentDate = this.tabReservation[this.currentTab].date.format('YYYY-MM-DD')
      reservationApi.getReservationsDispoByCourt(this.$route.params.id, currentDate, (res) => {
        this.listeHorairesDispo = res
      })
    },
    setSelectedDay (indexClicked) {
      this.currentTab = indexClicked
      this.getDispo()
    }
  },
  created () {
    let dates = [0, 1, 2, 3, 4, 5, 6, 7].map((element, index) => {
      console.log(moment().add(index, 'days'))

      return moment().add(element, 'days')
    })
    console.log(dates)

    this.tabReservation = [
      {
        index: 0,
        header: 'Aujourd\'hui',
        date: dates[0]
      }, {
        index: 1,
        header: 'Demain',
        date: dates[1]
      }
    ]

    for (let index = 2; index < 7; index++) {
      this.tabReservation[index] = {
        index: index,
        header: dates[index].format('DD-MM-YYYY'),
        date: dates[index]
      }
    }

    courtApi.getCourt(this.$route.params.id, (res) => {
      this.court = res
    })
    this.getDispo()
  }
}
</script>

<style>

</style>
