<template>
  <main-view>
    <template v-slot:header>
      Liste des réservations
    </template>
    <template v-slot:body>
      <list-ag-grid
        style="width:100%;"
        :rowData="reservations"
        :columnDefs="columnDefs"
        :doubleClickedCb="onRowDoubleClicked"
      ></list-ag-grid>
    </template>
  </main-view>
</template>

<script>
import {
  mdbBtn,
  mdbIcon
} from 'mdbvue'

import ListAgGrid from '../common/ListAgGrid'
import MainView from '../common/MainView'

import reservationsApi from '../../api/reservations'
// import reservationsJson from '@/api/mocks/reservations.json'

export default {
  name: 'Reservations',
  components: {
    MainView,
    ListAgGrid,
    mdbBtn,
    mdbIcon
  },
  data () {
    return {
      columnDefs: null,
      reservations: null,
      onRowDoubleClicked: null
    }
  },
  beforeMount () {
    this.onRowDoubleClicked = (event) => {
      this.$router.push({ name: 'ShowReservation', params: { id: event.data.idReservation } })
    }
    this.columnDefs = [
      {
        headerName: 'Utilisateur 1',
        field: 'idUtilisateur1',
        valueGetter: params => {
          let user = params.data.idUtilisateur1

          return user.prenomUtilisateur + ' ' + user.nomUtilisateur
        },
        sortable: true,
        filter: true,
        resizable: true,
        enableRowGroup: true
      },
      {
        headerName: 'Utilisateur 2',
        valueGetter: params => {
          let user = params.data.idUtilisateur2
          if (user === null) {
            return ''
          }
          return user.prenomUtilisateur + ' ' + user.nomUtilisateur
        },
        sortable: true,
        filter: true,
        resizable: true,
        enableRowGroup: true
      },
      {headerName: 'Court', field: 'idCourt.libelleCourt', sortable: true, filter: true, resizable: true, enableRowGroup: true},
      {headerName: 'Date de création', field: 'dateCreationReservation', sortable: true, filter: true, resizable: true, enableRowGroup: true},
      {headerName: 'Date de réservation', field: 'dateDebutReservation', sortable: true, filter: true, resizable: true, enableRowGroup: true},
      {headerName: 'Validée',
        field: 'valide',
        sortable: true,
        filter: true,
        resizable: true,
        enableRowGroup: true,
        cellRenderer: 'booleanRenderer'
      }
    ]
    reservationsApi.getReservations((res) => {
      this.reservations = res
    })
  }
}
</script>

<style>

</style>
