<template>
  <main-view>
    <template v-slot:header>
      <span v-if="$route.name !== 'EditReservation'">Nouvelle réservation</span>
      <span v-else>Modification de la réservation N°{{ reservation.idReservation }}</span>
    </template>
    <template v-slot:body>
      <form novalidate @submit.prevent="checkForm" class="needs-validation">
        <mdb-container>
          <dl class="row">
            <dt class="col-sm-2">
              Court :
            </dt>
            <dd class="col-sm-10">
              {{ reservation.court.libelleCourt }}
            </dd>
            <dt class="col-sm-2">
              Date :
            </dt>
            <dd class="col-sm-10">
              {{ reservation.dateDebutReservation }}
            </dd>
          </dl>

          <vue-bootstrap-typeahead
            :data="listUsers"
            prepend="Utilisateur 1"
            @hit="utilisateur1 = $event"
            :serializer="user => user.prenomUtilisateur + ' ' + user.nomUtilisateur"
          />
          <div class="invalid" v-if="displayErrorMessage('utilisateur1') && !$v.utilisateur1.required">Ce champ est requis</div>

          <br/>
          <vue-bootstrap-typeahead
            :data="listUsers"
            prepend="Utilisateur 2"
            @hit="utilisateur2 = $event"
            :serializer="user => user.prenomUtilisateur + ' ' + user.nomUtilisateur"
          />
        </mdb-container>
        <div class="text-center">
          <mdb-btn color="primary" type="submit">Enregistrer</mdb-btn>
        </div>
      </form>
    </template>
  </main-view>
</template>

<script>
import MainView from '@/components/common/MainView'
import reservationApi from '../../api/reservations'
import userApi from '../../api/users'

import { required } from 'vuelidate/lib/validators'
import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'
import { mdbIcon, mdbInput, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCol, mdbRow, mdbContainer } from 'mdbvue'
import { mapState } from 'vuex'

export default {
  components: {
    MainView,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    VueBootstrapTypeahead,
    mdbIcon,
    mdbCol,
    mdbRow,
    mdbContainer,
    mdbInput,
    mdbBtn
  },
  data: () => {
    return {
      utilisateur1: null,
      utilisateur2: null,
      listUsers: []
    }
  },
  created () {
    userApi.getUsers((res) => {
      this.listUsers = res.filter(element => element.presenceAnnuaire)
    })
  },
  name: 'ReservationForm',
  computed: {
    ...mapState({
      reservation: state => state.moduleReservation.reservationSelected
    })
  },
  validations: {
    utilisateur1: {required}
  },
  methods: {
    displayErrorMessage (key) {
      return this.$v[key].$anyError
    },
    checkForm () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        let idUser2 = this.utilisateur2 ? this.utilisateur2.idUtilisateur : null
        let data = {
          idUtilisateur1: this.utilisateur1.idUtilisateur,
          idUtilisateur2: idUser2,
          idCourt: this.reservation.court.idCourt,
          dateDebutReservation: this.reservation.dateDebutReservation,
          valide: true
        }
        reservationApi.addReservation(data, (res) => {
          alert('Reservation Créée')
          this.$router.push({ name: 'ShowCourt', params: { id: this.reservation.court.idCourt } })
        })
      }
    }
  }
}
</script>

<style scoped>
.invalid {
  color: red;
}
</style>
