<template>
  <mdb-icon :icon="value" />
</template>

<script>
import { mdbIcon } from 'mdbvue'
import Vue from 'vue'

export default Vue.extend({
  components: {
    mdbIcon
  },
  data () {
    return {
      value: null
    }
  },
  beforeMount () {
  },
  mounted () {
    // console.log(this.params.value)
    this.value = (this.params.value === true || this.params.value === 'true') ? 'check' : 'times'
  }
})
</script>

<style>

</style>
