<template>
  <ag-grid-vue
    style="width:100%;"
    class="ag-theme-material"
    :columnDefs="columnDefs"
    domLayout="autoHeight"
    sideBar='columns'
    :rowData="rowData"
    :frameworkComponents="frameworkComponents"
    @grid-ready="onGridReady"
    @row-double-clicked="doubleClickedCb"
  ></ag-grid-vue>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import BooleanRenderer from './BooleanRenderer'

export default {
  name: 'ListAgGrid',
  data () {
    return {
      frameworkComponents: null
    }
  },
  components: {
    AgGridVue
  },
  props: {
    rowData: Array,
    columnDefs: Array,
    doubleClickedCb: {
      type: Function,
      default: () => {}
    }
  },
  created () {
    this.frameworkComponents = {
      booleanRenderer: BooleanRenderer
    }

    this.columnDefs.forEach(element => {
      if (element.cellRenderer && Object.keys(this.frameworkComponents).some(() => element.cellRenderer)) {
        if (element.filterParams) {
          element.filterParams['cellRenderer'] = element.cellRenderer
        } else {
          element.filterParams = {
            cellRenderer: element.cellRenderer
          }
        }
      }
    })
    console.log(this.columnDefs)
  },
  methods: {
    onGridReady (params) {
      this.gridApi = params.api
      this.columnApi = params.columnApi
      params.api.closeToolPanel()
      params.api.sizeColumnsToFit()
    }
  }
}
</script>

<style lang="scss">
@import "../../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";
</style>
