<template>
  <section id="tables">
    <mdb-row>
      <mdb-col md="12">
        <mdb-card cascade narrow class="mt-5">
          <mdb-view class="gradient-card-header blue darken-2">
            <h4 class="h4-responsive text-white">{{ title }}
              <slot name="header"></slot>
            </h4>
          </mdb-view>
          <mdb-card-body>
            <slot name="body"></slot>
          </mdb-card-body>
        </mdb-card>
      </mdb-col>
    </mdb-row>
  </section>
</template>

<script>
import {
  mdbRow,
  mdbCol,
  mdbBtn,
  mdbIcon,
  mdbCard,
  mdbView,
  mdbCardBody
} from 'mdbvue'

export default {
  name: 'MainView',
  components: {
    mdbRow,
    mdbBtn,
    mdbCol,
    mdbIcon,
    mdbCard,
    mdbView,
    mdbCardBody
  },
  props: {
    title: String,
    linkToNew: {
      type: String,
      required: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}
.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0;
}
</style>
